* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    --default-font: 'Open Sans', sans-serif;
    --heading-font: 'Anton', sans-serif;
    --main-color: #dc2e1e;
    --second-color: #1b1b1b;
    --third-color: #686868;
    --border: 1px solid #b5b5b5;
    --background-color: #eaeaea;
}

body {
    border: none;
    outline: none;
    font-family: var(--default-font);
    color: var(--second-color);
    font-size: 13px;
}

body a {
    color: var(--second-color);
    text-decoration: none;
}

body a:hover {
    color: var(--main-color);
}

body h2 {
    font-family: var(--heading-font);
    font-size: 4rem;
}

.container {
    max-width: 1600px;
    margin: 0 auto;
}

.hide {
    display: none !important;
}

.visible-xs {
    display: none;
}

.admin-page h2 {
    margin: 20px 0;
    font-size: 2rem;
}

.input-product {
    height: 45px;
    padding: 0 15px;
    border-radius: 5px;
    width: 100%;
}

.input-product:focus {
    background: #e1f6d4;
}

.input-box {
    display: flex;
    gap: 10px;
    background: #f2f2f2;
    padding: 30px;
    border-radius: 5px;
}

.btn {
    height: 45px;
    padding: 0 20px;
    border: none;
    background: #3085d6;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.5s;
}

.btn:hover {
    background: #1b66ae;
}

.header-box {
    display: flex;
    justify-content: space-between;
    margin: 40px 0 40px;
    padding: 0 15px;
}

.product-title {
    font-size: 18px;
    width: 50%;
    padding: 0 15px;
}

.admin-product-item {
    display: flex;
    align-items: center;
    padding: 15px;
    flex-wrap: wrap;
}

.admin-product-name {
    width: 30% !important;
}

.admin-product-item>div {
    width: 10%;
}

ul.body-box li.admin-product-item:first-child>div {
    font-weight: bold;
    font-size: 16px;
}

ul.body-box li:nth-child(even) {
    background: #f2f2f2;
}

h3.product-amount {
    color: #a52a2a;
}

section#header {
    padding: 20px 0;
}

section#header .container {
    display: flex;
    justify-content: space-between;
    padding: 0 30px;
}

section#header .container>div {
    width: 50%;
    display: flex;
    align-items: center;
}

section#header img {
    max-width: 100px;
}

.header-right {
    justify-content: space-evenly;
}

section#topbar {
    position: sticky;
    top: 0;
    z-index: 999;
    background: #fff;
}

section#topbar .container {
    padding: 0;
    display: flex;
    justify-content: space-between;
    border-bottom: var(--border);
    position: relative;
}

section#topbar .container .topbar-right {
    width: 80%;
}

section#topbar .container .topbar-left {
    width: 20%;
}

.topbar-right {
    text-align: right;
    position: relative;
    display: flex;
    justify-content: right;
    align-items: center;
    gap: 30px;
}

.topbar-right i.fa-cart-shopping {
    color: #ffffff;
    background-color: var(--main-color);
    padding: 12px 20px;
}

.topbar-right i.fa-cart-shopping:hover {
    background-color: #c5291b;
}

.cart-mini {
    display: flex;
    flex-direction: column;
    width: 368px;
    position: absolute;
    top: 100%;
    right: 0;
    background: #fff;
    border: var(--border);
    padding: 25px 35px;
    z-index: 9;
    transform: translateY(-115%);
    transition: 0.5s;
}

.cart-mini.active {
    transform: translateY(0);
}

.cart-mini i {
    color: var(--second-color);
    background: transparent;
    padding: 0;
    margin: 0;
}

.cart-mini-button {
    cursor: pointer;
}

.cart-mini-button .cart-count {
    position: absolute;
    right: 6px;
    top: 3px;
    color: var(--main-color);
    background: #fff;
    border-radius: 100%;
    width: 18px;
    height: 18px;
    display: flex;
    font-size: 10px;
    font-weight: bold;
    align-items: center;
    justify-content: center;
}

.cart-mini-header-left i {
    margin-right: 5px;
}

.cart-mini-header-right i {
    font-size: 20px;
}

.cart-mini-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
    border-bottom: var(--border);
    padding-bottom: 15px;
}

.cart-mini-header-right i {
    cursor: pointer;
}

.cart-mini-body {
    max-height: 225px;
    overflow-y: scroll;
    margin-bottom: 20px;
}

.cart-mini-body span.empty-cart-noti {
    display: block;
    text-align: center;
}

.cart-mini-body::-webkit-scrollbar {
    width: 3px;
}

.cart-mini-body::-webkit-scrollbar-track {
    background: #ffffff;
}

.cart-mini-body::-webkit-scrollbar-thumb {
    background: #b5b5b5;
}

.cart-mini-body::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.cart-mini-item {
    display: flex;
    gap: 10px;
    align-items: center;
    margin-bottom: 20px;
}

.cart-mini-item:last-child {
    margin-bottom: 0;
}

.cart-mini-item .cart-mini-image {
    width: 20%;
    display: flex;
    align-items: center;
}

.cart-mini-item .cart-mini-image img {
    width: 100%;
}

.cart-mini-info {
    text-align: left;
    font-size: 14px;
    width: 80%;
}

.cart-mini-item .cart-mini-price {
    color: var(--main-color)
}

.cart-mini-quantity-and-price {
    display: flex;
    gap: 5px;
    font-size: 13px;
}

.cart-mini-quantity-and-price span {
    font-weight: 600;
}

.cart-mini-footer {
    display: flex;
    flex-direction: column;
}

.cart-mini-footer .view-cart {
    background: transparent;
    border: var(--border);
    margin-bottom: 10px;
    font-size: 14px;
    cursor: pointer;
}

.cart-mini-footer .view-cart a {
    display: block;
    padding: 12px 0;
    width: 100%;
}

.cart-mini-footer .view-cart a:after {
    display: none;
}

.cart-mini-footer .view-cart a:hover {
    color: var(--second-color);
}

.cart-mini-footer .view-cart:hover,
.cart-mini-footer .to-checkout:hover {
    outline: 2px solid var(--second-color);
}

.cart-mini-footer .to-checkout {
    padding: 12px 0;
    font-size: 14px;
    background: var(--second-color);
    color: #fff;
    margin-bottom: 10px;
    border: 1px solid var(--second-color);
    cursor: pointer;
}

.cart-mini-footer a {
    font-size: 14px;
    position: relative;
    width: fit-content;
    margin: 0 auto;
}

.cart-mini-footer a:hover {
    color: var(--main-color);
}

.cart-mini-footer a:hover:after {
    background: var(--main-color);
}

.cart-mini-footer a:after {
    content: "";
    width: 100%;
    height: 1px;
    background: var(--second-color);
    position: absolute;
    left: 0;
    bottom: -2px;
}

.cart-mini-total {
    font-size: 14px;
    text-align: right;
    margin-bottom: 10px;
    font-weight: bold;
    display: flex;
    gap: 5px;
    justify-content: right;
}

.cart-mini-total .total-price {
    color: var(--main-color);
}

section#menu {
    position: sticky;
    top: 37px;
    z-index: 99;
}

section#menu .container {
    background-color: var(--background-color);
}

section#menu ul {
    list-style: none;
    display: flex;
    text-transform: uppercase;
    font-weight: 600;
}

section#menu ul>li {
    flex-grow: 1;
    text-align: center;
    line-height: 40px
}

section#menu ul>li:hover {
    background: #ddd;
}

section#menu ul>li a {
    display: block;
}

section#menu ul>li a:hover {
    color: var(--second-color)
}

section#collection-icon {
    padding: 30px 0;
}

section#collection-icon p {
    font-size: 1.25rem;
    text-align: center;
}

.collection-icon-list {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding-top: 20px;
}

.collection-icon-list>div {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 118px;
}

.collection-icon-item span {
    font-size: 1rem;
    text-align: center;
}

.collection-icon-item img {
    max-width: 71px;
    border-radius: 100%;
    padding: 10px;
    box-shadow: 0.0625rem 0.0625rem 0.25rem #979798;
    margin-bottom: 10px;
    transition: 0.2s;
}

.collection-icon-item img:hover {
    transform: scale(1.1);
}

section#slide-top img,
section#slide-mid img {
    max-width: 100%;
}

section#slide-mid h2,
section#collection-banner h2 {
    margin: 40px 0;
    text-align: center;
}

.collection-banner-list {
    display: flex;
    gap: 15px;
}

.collection-banner-list>div {
    width: 50%;
}

.collection-banner-list img {
    max-width: 100%;
}

.collection-banner-item {
    overflow: hidden;
}

.collection-banner-item span {
    font-family: var(--heading-font);
    font-size: 1.5rem;
}

.collection-banner-item h3 {
    font-size: 3rem;
}

.collection-banner-title img {
    max-width: 36px;
    transition: 0.5s;
}

.collection-banner-item a>img {
    transition: 0.5s;
}

.collection-banner-item a:hover>img {
    transform: scale(1.1);
}

.collection-banner-item a:hover .collection-banner-title img {
    margin-left: 50px;
}

.collection-banner-title {
    padding-left: 60px;
}

section#gallery {
    padding: 40px 0;
}

section#gallery .container {
    display: flex;
    gap: 15px;
}

section#gallery .gallery-item {
    overflow: hidden;
}

.gallery-item a {
    display: block;
    position: relative;
}

.gallery-item .overlay {
    position: absolute;
    background: rgb(17 17 17 / 70%);
    z-index: 9;
    width: 100%;
    height: 100%;
    top: 0;
    opacity: 0;
    transition: 0.5s;
    display: flex;
    align-items: center;
    justify-content: center;
}

.gallery-item .overlay i {
    color: #fff;
    font-size: 60px;
}

section#gallery .container>div {
    width: 25%;
}

section#gallery img {
    width: 100%;
    transition: 0.5s;
}

.gallery-item a:hover img {
    transform: scale(1.1);
}

.gallery-item a:hover .overlay {
    opacity: 1;
}

section#about-us {
    padding-bottom: 40px;
}

section#about-us h3 {
    font-size: 1.375rem;
    font-weight: 600;
    margin-bottom: 20px;
}

section#about-us p {
    text-align: justify;
    margin-bottom: 15px;
    line-height: 24px;
    font-size: 14px;
}

section#footer {
    padding-bottom: 40px;
}

section#footer .container {
    background-color: var(--background-color);
    display: flex;
    justify-content: space-between;
    padding: 40px 30px;
}

section#footer ul {
    list-style-type: none;
}

.footer-item h3 {
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 15px;
}

.footer-item li {
    margin-bottom: 15px;
}

.social-icon {
    display: flex;
    gap: 10px;
}

.social-icon i {
    font-size: 14px;
    color: #fff;
    background: #1b1b1b;
    padding: 10px;
    width: 36px;
    height: 36px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

section#footer-bottom {
    padding-bottom: 20px;
}

section#footer-bottom .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-bottom-right img {
    max-width: 200px;
}

section#product-list .container {
    --gap: 30px;
    display: flex;
    gap: var(--gap);
    flex-wrap: wrap;
}

section#product-list .container .product-item {
    width: calc(25% - (var(--gap) * 3)/4);
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
}

section#product-list .container .product-item>div {
    width: 100%;
}

section#product-list .container .product-item .product-image {
    margin-bottom: 15px;
    position: relative;
}

section#product-list .container .product-item .product-image a:last-child img {
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    transition: 0.2s;
}

section#product-list .container .product-item .product-image:hover a:last-child img {
    opacity: 1;
}

section#product-list .container .product-item img {
    width: 100%;
}

section#product-list .container .product-item .product-price {
    display: flex;
    gap: 5px;
    font-size: 14px;
    font-weight: 600;
    color: var(--main-color);
    align-items: baseline;
}

section#product-list .container .product-item .product-price .original-price {
    font-size: 18px;
}

section#product-list .container .product-item .product-brand {
    color: var(--third-color);
    margin: 5px 0 10px;
}

section#product-list .container .product-item .product-name a:hover {
    color: var(--main-color);
}

section#banner-top-collection {
    padding: 40px 0;
}

section#banner-top-collection img {
    width: 100%;
}

section#product-list {
    margin-bottom: 30px;
}

section#product-list .container .product-item .add-to-cart {
    display: flex;
    gap: 5px;
    margin-top: 10px;
}

section#product-list .container .product-item .add-to-cart input {
    width: 20%;
    padding-left: 5px;
    border-radius: 5px;
}

section#product-list .container .product-item .add-to-cart button {
    width: 80%;
    font-size: 13px;
    padding: 7px 0;
    border: none;
    background: var(--main-color);
    color: #fff;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
}

section#product-list .container .product-item .add-to-cart button:hover {
    background: #c62617;
}

.account-container {
    max-width: 100%;
    width: 400px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding: 30px 15px;
    border: var(--border);
}

.account-title {
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 20px;
}

section#account {
    padding: 60px 0;
}

.account-container>input {
    border: var(--border);
    height: 40px;
    padding: 0 15px;
    margin-bottom: 15px;
}

.account-container input[type="submit"] {
    background: var(--second-color);
    color: #fff;
    cursor: pointer;
    border: 1px solid var(--second-color);
}

.account-container input[type="submit"]:hover {
    outline: 2px solid var(--second-color);
}

.account-container span {
    text-align: center;
}

.account-container a {
    text-decoration: underline;
}

section#account .congratulation-noti {
    text-align: center;
    height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-weight: bold;
    flex-direction: column;
    gap: 20px;
}

section#account .congratulation-noti a {
    text-decoration: underline;
    color: var(--main-color);
}

section#account span.error-noti {
    text-align: left;
    font-size: 12px;
    color: var(--main-color);
}

.footer-item.social i {
    transition: 0.2s;
}

.footer-item.social .fa-facebook-f:hover {
    background-color: #0674e7;
}

.footer-item.social .fa-twitter:hover {
    background-color: #1d9bf0;
}

.footer-item.social .fa-instagram:hover {
    background-color: #a13fa6;
}

.footer-item.social .fa-youtube:hover {
    background-color: #ff0000;
}

section#cart-page .container {
    padding: 60px 30px;
}

section#cart-page .cart-page-title {
    margin-bottom: 15px;
}

section#cart-page h3 {
    font-size: 20px;
}

section#cart-page .cart-box {
    display: flex;
    justify-content: center;
}

section#cart-page .cart-items {
    width: 70%;
    display: flex;
    flex-direction: column;
    border-top: 1px solid #d5d5d5;
    border-bottom: 1px solid #d5d5d5;
    font-size: 14px;
}

section#cart-page .cart-items .cart-item {
    padding: 30px 0;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #d5d5d5;
    gap: 30px;
}

section#cart-page .cart-items .cart-item:last-child {
    border-bottom: none;
}

section#cart-page .cart-items .cart-item .cart-name-item {
    width: 50%;
}

section#cart-page .cart-items .cart-item .cart-quantity-item {
    width: 15%;
    display: flex;
}

section#cart-page .cart-items .cart-item .cart-image-item {
    width: 10%;
}

section#cart-page .cart-items .cart-item .cart-price-item {
    width: 20%;
}

section#cart-page .cart-items .cart-item .cart-delete-item {
    width: 5%;
}

section#cart-page .cart-items .cart-item .cart-image-item img {
    width: 100%;
    max-width: 60px;
    margin: 0 auto;
    display: block;
}

section#cart-page .cart-items .cart-item .cart-quantity-item input,
section#cart-page .cart-items .cart-item .cart-quantity-item input:focus-visible {
    max-width: 40px;
    height: 25px;
    text-align: center;
    border: 1px solid var(--second-color);
}

section#cart-page .cart-items .cart-item .cart-quantity-item input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

section#cart-page .cart-total-price {
    width: 30%;
    padding-left: 100px;
}

section#cart-page .cart-total-price .cart-total-price-box {
    display: flex;
    flex-direction: column;
    border: 1px solid #d5d5d5;
    position: sticky;
    top: 87px;
}

section#cart-page .cart-items .cart-item .cart-price-item .cart-price-unit-item {
    margin-bottom: 5px;
    font-size: 18px;
    font-weight: 600;
    color: var(--main-color);
}

section#cart-page .cart-total-price .cart-total-price-box .cart-total {
    padding: 30px 15px;
    background: #f5f6f8;
    font-size: 14px;
    font-weight: 600;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

section#cart-page .cart-total-price .cart-total-price-box .cart-total .total-price-final {
    color: var(--main-color);
    font-size: 18px;
}

section#cart-page .cart-total-price .cart-total-price-box button {
    color: #fff;
    height: 40px;
    font-size: 14px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

section#cart-page .cart-total-price .cart-total-price-box button a {
    color: #fff;
    display: block;
    width: 100%;
    height: 100%;
    line-height: 40px;
}

section#cart-page .cart-total-price .cart-total-price-box button.check-out {
    background: var(--main-color);
    margin: 30px 15px 10px;
}

section#cart-page .cart-total-price .cart-total-price-box button.check-out:hover {
    outline: 2px solid var(--main-color);
}

section#cart-page .cart-total-price .cart-total-price-box button.continue-shopping {
    background: #ffc439;
    margin: 0px 15px 30px;
}

section#cart-page .cart-total-price .cart-total-price-box button.continue-shopping:hover {
    outline: 2px solid #ffc439;
}

section#cart-page .cart-items .cart-item .cart-delete-item button {
    display: block;
    margin: 0 auto;
    border: none;
    background: none;
    cursor: pointer;
    width: 20px;
    height: 20px;
}

section#cart-page .cart-items .cart-item .cart-delete-item button:hover {
    transform: scale(1.1);
}

section#cart-page .cart-box .empty-cart {
    min-height: 30vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

section#cart-page .cart-box .empty-cart .empty-cart-noti {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 20px;
}

section#cart-page .cart-box .empty-cart button {
    width: 100%;
    border: none;
    background: var(--main-color);
    color: #fff;
    font-size: 14px;
    height: 40px;
    border-radius: 5px;
    cursor: pointer;
}

section#cart-page .cart-box .empty-cart button a {
    color: #fff;
    display: block;
    width: 100%;
    height: 100%;
    line-height: 40px;
}

section#cart-page .cart-box .empty-cart button:hover {
    outline: 2px solid var(--main-color);
}

section#cart-page .cart-items .cart-item .cart-quantity-item button {
    height: 25px;
    width: 25px;
    border: none;
    background: var(--second-color);
    color: #fff;
    border: 1px solid var(--second-color);
    cursor: pointer;
}